body {
    background-color: rgba(74, 15, 129, 0.719);}
   

button{

background-color: rgba(175, 98, 169, 0.829);
padding:.25rem;
color: white;
align-items: center;

}


p{
    color:white;
padding: 1rem;
font-size: large;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}


h1{
 
    color:white;
}


a{ color:white;
}